@charset "UTF-8";

// ---------------------------------------------------------- //
// Behavior
// ---------------------------------------------------------- //
.navigation {
  display: inline-block;

  &__panel {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $navigation-breakpoint) {
  .navigation {
    display: block;

    &__panel {
      position: static;
      display: block;
      width: auto;
      max-width: none;
      height: auto;
      background: transparent;
      opacity: 1;
      transform: none;
      transition: none;
      visibility: visible;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
}

// ---------------------------------------------------------- //
// Design
// ---------------------------------------------------------- //
.navigation {
  font-size: 1.125em;

  &__panel {
    @supports (backdrop-filter) {
      backdrop-filter: blur(2px);
    }
  }

  &__list {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__item {
    padding: 0;
    margin: 0;
  }

  &__link {
    display: block;
    padding: 16px 8px;
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    user-select: none;

    &:hover {
      background-color: #f1f1f1;
      color: #000;
    }
  }

  &__button {
    &--close {
      margin: 8px;
      float: right;
    }
  }

}

// ---------------------------------------------------------- //
// Design Large screens
// ---------------------------------------------------------- //
@media (min-width: $navigation-breakpoint) {
  .navigation {
    &__panel {
      @supports (backdrop-filter) {
        backdrop-filter: none;
      }
    }

    &__list {
      padding: 0;
      margin: 0;
    }

    &__link {
      padding: 0;
    }

    &__button {
      display: none;
    }
  }
}
