@charset "UTF-8";

@import "icons/css";

.navigation__button {
  display: block;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  &--burger {
    width: 34px;
    height: 26px;
    @include menu-icon-burger($navigation-button__icon-color, $navigation-button__icon-color--hover);
  }

  &--close {
    width: 27px;
    height: 27px;
    @include menu-icon-close($navigation-button__icon-color, $navigation-button__icon-color--hover);
  }

}
