@charset "UTF-8";

@import "vars";
@import "panel";
@import "icons";
@import "button";

.navigation {
  font-size: 1.125rem;

  &__panel {
    width: $navigation-panel-width;
    height: 100vh;
    max-width: $navigation-panel-max-width;

    background-color: rgba($navigation-panel-background, 0.95);
    @supports (backdrop-filter) {
      backdrop-filter: blur(2px);
    }
  }

  &__list {
    margin: 50px 0 0;
    padding: 0;
    display: block;
  }

  &__item {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__link {
    display: block;
    padding: 16px 8px;
    user-select: none;

    border: none;
    color: #000;
    font-weight: bold;
    background-color: #f9f9f9;

    &:hover {
      color: #000;
      background-color: #f1f1f1;
    }
  }

}

// ---------------------------------------------------------- //
// Large screens
// ---------------------------------------------------------- //
@media(min-width: 48rem) {

  .navigation {

    &__panel {
      width: auto;
      height: auto;
      max-width: none;

      background: transparent;
      @supports (backdrop-filter) {
        backdrop-filter: none;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    &__link {
      padding: 0;
    }

    &__button {
      display: none;
    }

  }

}
