@charset "UTF-8";

@import "vars";
@import "panel";
@import "icons";
@import "button";

.navigation {

  &__panel {
    width: $navigation-panel-width;
    height: $navigation-panel-height;
    max-width: $navigation-panel-max-width;
    background-color: $navigation-panel-background;
  }

  &__list {
    display: block;
  }

  &__item {
    list-style: none;
  }

}
