@charset "UTF-8";

$navigation-panel-width: 100% !default;
$navigation-panel-max-width: 400px !default;
$navigation-panel-height: 100% !default;
$navigation-panel-background: rgba(#fff, 0.95) !default;
$navigation-panel-transition-duration: 400ms !default;

$navigation-button__icon-svg: true !default;
$navigation-button__icon-color: #000 !default;
$navigation-button__icon-color--hover: false !default;
