@charset "UTF-8";

$navigation-panel-width: 100vw;
$navigation-panel-max-width: 400px;
$navigation-panel-background: #fff;

$navigation-button__icon-color: #000;
$navigation-button__icon-color--hover: false;
